{{#d-modal-body
  title="discourse_video.modal_title"
  subtitle="discourse_video.modal_subtitle"
  class="discourse-video-upload-modal"
}}

  <h3>{{i18n "discourse_video.file"}}</h3>
  <p>
    {{#if file}}{{fileName}} ({{fileSize}}){{/if}}
    <label class="btn" disabled={{uploading}} title={{i18n "discourse_video.select_file"}}>
      {{d-icon "video"}}&nbsp;{{i18n "discourse_video.select_file"}}
      <input disabled={{uploading}} type="file" style="visibility: hidden; position: absolute;" onchange={{action "fileChanged"}} />
    </label>
  </p>
  {{#if uploading}}
    {{uploadProgress}}
  {{else}}
    {{d-button action="upload" icon="upload" label="upload" disabled=uploadDisabled}}
  {{/if}}

{{/d-modal-body}}

